{% extends 'base.html.twig' %}

{% block title %}Создать заказ{% endblock %}

{% block body %}
<h1>Создать заказ</h1>

{{ form_start(form) }}
    {{ form_row(form.dishes) }}

    <h3>Документы</h3>
    <div id="order_documents" data-prototype="{{ form_widget(form.documents.vars.prototype)|e('html_attr') }}">
        {% for documentField in form.documents %}
            <div>
                {{ form_row(documentField.file) }}
            </div>
        {% endfor %}
    </div>

    <button type="button" class="add_item_link" data-collection-holder-id="order_documents">Добавить документ</button>

    <button type="submit" class="btn btn-success">Сохранить</button>
{{ form_end(form) }}

<script>
    const addFormToCollection = (e) => {
        const collectionHolder = document.getElementById(e.currentTarget.dataset.collectionHolderId);
        const item = document.createElement('div');

        item.innerHTML = collectionHolder
            .dataset.prototype
            .replace(/__name__/g, collectionHolder.children.length);

        collectionHolder.appendChild(item);
    };

    document.querySelectorAll('.add_item_link').forEach(btn => {
        btn.addEventListener("click", addFormToCollection);
    });
</script>
{% endblock %}